@model ProjektNTP.Models.Car

@{
    ViewBag.Title = "Szczegóły pojazdu";
}


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Marka")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarBrand)
        </dd>

        <dt>
            @Html.DisplayName("Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayName("Przebieg")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-default" })
</p>
